body{
	font-family: 'Barlow Condensed', sans-serif;
}

img{
	max-height: 50rem;
}

blockquote{
	display: none;
}

.nom{
	font-size: xx-large;
}

.card {
        margin: 0 auto; /* Added */
        float: none; /* Added */
        margin-bottom: 10px; /* Added */
}

.reseaux{
	width: 20%;
}

.citation{
	font-family: 'Permanent Marker', cursive;
	position: absolute;
	z-index: 2;
	top:50%;
	left: 5%;
}

.citations{
	font-family: 'Permanent Marker', cursive;
}

.flotteur{
	z-index: 2;
	top: -27px;

}

.profil{
	margin-bottom: 10%;
	margin-top: 10%;
	border-radius: 5px;
	width: 50%
}

.texte{
	margin-top: 20%;
	margin-left: 50px;
}

.bckcontact{
	background-color: #DCDCDC;
	max-height: 500px;
}

.contact{
	padding-top: 2%;
	padding-bottom: 5%;
}

.fontcontact{
	text-align: center; font-size: 25px;
}

.mention{
	background-color: #373F3E;
	color: white;
	bottom: 0;
}

.adressfooter{
	list-style: none;
}
.bannière{
	height: 400px;
	 top: 54px;
	  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.footer{
	display: inline;
}

.imgpresta{
	background-image: url("https://picsum.photos/700/300?image=201");
}