body{
	font-family: 'Roboto', sans-serif;
}

.reseaux{
	width: 20%;
}

.citation{
	position: absolute;
	z-index: 2;
	top:50%;
	left: 5%;
}

.bio{
	margin-top: 10%;
}
.profil{
	margin-bottom: 10%;
	margin-top: 10%;
	border-radius: 5px;
}

.texte{
	margin-top: 20%;
	margin-left: 50px;
}

.bckcontact{
	background-color: #DCDCDC;
	max-height: 500px;
}

.contact{
	padding-top: 2%;
	padding-bottom: 5%;
}

.fontcontact{
	text-align: center; font-size: 25px;
}

.mention{
	background-color: #373F3E;
	color: white;
	bottom: 0;
}

.adressfooter{
	list-style: none;
}
