body{
	font-family: 'Barlow Condensed', sans-serif;
}

img{
	max-height: 50rem;
}

footer{
	padding-bottom: 0px;
}
.formulaire{
	display: none;
}

/* bannière*/
.fixed-top{
	padding-top: 0px;
	padding-bottom: 0px;
}

.bannière{
	height: 400px;
	top: 47px;
	background: no-repeat center center scroll;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
	width: 100%
}

.nom{
	font-size: xx-large;
}

.reseaux{
	width: 30%;
}

.hideelem{
	display: none;
}

/* title of page */
.card {
        margin: 0 auto;
        float: none;
        margin-bottom: 10px;
}


/* book carousel */
.carousel-control-prev-icon {
 background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.carousel-item {
	max-height: 600px; 
	max-width: 400px;
  height: 600px;
  min-height: 300px;
  background: no-repeat left center scroll;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}




.citations{
	font-family: 'Permanent Marker', cursive;
}

.flotteur{
	z-index: 2;
	top: -27px;

}

.profil{
	margin-bottom: 10%;
	margin-top: 10%;
	border-radius: 5px;
	width: 212.5px;
}

.texte{
	margin-top: 10%;
	margin-left: 50px;
}

.bckcontact{
	background-color: #DCDCDC;
	max-height: 500px;
}


.fontcontact{
	text-align: center; font-size: 25px;
}

.mention{
	background-color: #373F3E;
	color: white;
	bottom: 0;
}

.adressfooter{
	list-style: none;
}

.footer{
	display: inline;
}

.imgpresta{
	background-image: url("https://picsum.photos/700/300?image=201");
}

.adress-contact{
	padding-bottom: 2%;
	padding-top: 2%;
}

.bckcitation{
	border-radius: 25px;
	width: 100%;
	background: no-repeat center center scroll;
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	background-size: cover;
  	-o-background-size: cover;
}

.pucerouge{
	border-left: 5px solid #AF262F;
}

.bordure{
	border-radius: 20px 0 / 20px;
}

.adntxt{color: rgb(128, 0, 32)}
.adnborder{ background-color:  rgba(128, 0, 32, 0.5)}

a 
{ 
text-decoration:none; 
color: rgba(128, 0, 32, 0.8)
} 

.active{
	color:  rgb(128, 0, 32) !important;
}

.video{padding-bottom: 2%}